$react-ant-editable-tag-group-options: () !default;

.react-ant-editable-tag-group {
  display: flex;
  &__input {
    width: 78px;
    border-color: transparent;
    background: none;
    text-align: center;
  }
  &__new {
    background: #fff;
    border-style: dashed;
    display: inline-flex;
    align-items: center;
  }
}
