$react-ant-editable-tag-group-options: () !default;

.react-ant-editable-tag-group {
  display: inline-block;

  .ant-tag {
    margin-bottom: 5px;
    padding-right: 15px;
    position: relative;
  }

  .ant-btn {
    position: relative;
    padding-left: 15px;
  }

  &__input {
    input {
      border-color: transparent;
      background: none;
      text-align: center;
    }
  }
  &__create {
    font-size: 12px;
    line-height: 22px;
  }

  &__plus {
    width: 10px;
    height: 10px;
    opacity: 0.3;
    cursor: pointer;
    position: relative;

    &:hover {
      opacity: 1;
    }

    &:before,
    &:after {
      position: absolute;
      left: 0;
      content: "";
      height: 10px;
      width: 1px;
      background-color: #333;
    }
    &:before {
      transform: rotate(90deg);
    }
    &:after {
      transform: rotate(180deg);
    }
  }

  &__close {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    opacity: 0.3;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    &:before,
    &:after {
      position: absolute;
      left: 0;
      content: "";
      height: 10px;
      width: 1px;
      background-color: #333;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}
