$react-ant-editable-tag-group-options: () !default;

.react-ant-editable-tag-group {
  &,
  .react-list {
    display: inline-block;
  }
  &__input {
    width: 78px;
    border-color: transparent;
    background: none;
    text-align: center;
  }
  &__new {
    font-size: 12px;
    line-height: 22px;
  }
}
